/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

/* Header styles */
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* Main content styles */
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Links styles */
a {
    color: #337ab7;
}

/* Form styles */
form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #337ab7;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* List styles */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

/* Buttons styles */
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    margin-right: 5px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
}

.btn-primary {
    background-color: #337ab7;
    color: #fff;
    width: 100%;
    padding: 5px;
}

.btn-primary-small{
    /* background-color: #337ab7; */
    /* color: #fff; */
}

.btn-secondary {
    background-color: gray;
    color: #fff;
    width: 100%;
    padding: 5px;
}

.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
    width: 100%;
}

.btn-black {
    display: inline-block;
    padding: 15px 12px;
    margin-bottom: 0;
    margin-right: 5px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    background-color: black;
    width: 200px;
}

/* Text Styles */
.center {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.card {
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}


/* Image styles */
.img {
    width: 200px;
    height: 200px;
    padding: 5px;
    object-fit: cover;
    border:#333 1px solid;
    border-radius: 50%;
    background-color: #f8f8f8;
}